{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div id=#mainCarousel>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/item1.jpg' %}" alt="" >
            <div class="carousel-caption">
              <h3></h3>
              <p></p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/item2.JPG' %}" alt="" >
            <div class="carousel-caption">
              <h3></h3>
              <p></p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/item3.jpeg' %}" alt="" >
            <div class="carousel-caption">
              <h3></h3>
              <p></p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
</div>
