{% load static %}
<div id=mainfooter class="row"> 
   <div id="aboutas" class="col-lg-4">
       <h3>{{AboutUs}}</h3>
       <h6>Almohtaref HOME KITCHEN</h6>
       <p>
            Almohtaref COMPANY, we believe that exceptional quality, outstanding value and superior service are the keys to making our customers happy. Our commitment to first-class quality and service at an affordable price makes us Cleveland's premier source for kitchen and bathroom cabinets, countertops, and re-modelling services.
       </p>
   </div>
   <div class="col-lg-4">
          <div>
                <h3>Quick Links</h3>
               <h6>Explore our products and projects</h6>
               <ul>
               <li><span style="color: #ffffff;"><a href="#" style="color: #ffffff;">Contemporary</a></span></li>
               <li><span style="color: #ffffff;"><a href="#" style="color: #ffffff;">&nbsp;Modern</a></span></li>
               <li><span style="color: #ffffff;"><a href="#" style="color: #ffffff;">Small Kitchen</a></span></li>
               <li><span style="color: #ffffff;"><a href="#" style="color: #ffffff;">Vanity</a></span></li>
               <li><span style="color: #ffffff;"><a href="#" style="color: #ffffff;">Closet</a></span></li>
               <li><span style="color: #ffffff;"><a href="#" style="color: #ffffff;">Wall Unit</a></span></li>
               <li><span style="color: #ffffff;"><a href="#" style="color: #ffffff;">Laundry Room</a></span></li>
               <li><span style="color: #ffffff;"><a href="#" style="color: #ffffff;">Commercial</a></span></li>
               <li><a href="#"><span style="color: #ffffff;">Accessories</span></a><a href="http://canadianhomekitchen.com/all-projects/"><span style="color: #ffffff;"></span></a></li>
               <li><a href="#"><span style="color: #ffffff;">All Projects</span></a></li>
               <li><span style="color: #ffffff;"><a href="#" style="color: #ffffff;">Contact Us</a></span></li>
               </ul>
               <p>&nbsp;</p>
                              </div>
    </div>
    <div id="contactus" class="col-lg-4">
            <h3>{{Contactus}}</h3>
            <h6>Head Office and Showroom</h6>
            
            <p style="font-size: 1rem;">
               <span style="font-family: Arial; font-weight: normal;">Al Maabilah </span> Oman<br>
               <!-- Vaughan, Ontario&nbsp;<span style="font-family: Times New Roman; font-weight: normal; font-size: medium;"> L4K 4R7</span> -->
            </p>
            <p style="font-size: 1rem;">Tel.: <span style="font-family: Arial; font-weight: normal;">+968 79 30 7979</span><br>
               Tel.: <span style="font-family: Arial; font-weight: normal;">+968 79 31 7979</span><br>
               Dir.: <span style="font-family: Arial; font-weight: normal;">+968 647 549 9220</span><br>
               Email: info@almohtaref.com</p>
               <p style="font-size: 1rem;">www.facebook.com/almohtaref<br>www.instagram.com/almohtaref&nbsp;</p>
        </div>
</div>