{% load static %}
<header id=mainheader>
   <div class="row">
    <div class="col-md-3 hii"  >
       
    </div>
    <div  class="col-md-9 hiii " >
       <nav >
          <div id="myNavbar">
               <ul id="ulheader">
                     <li class="liheader"><a href="#aboutas">ABOUT US</a></li>
                     <li class="liheader"><a href="#samplepicture">OUR PROJECTS</a></li>
                     <li class="liheader"><a href="#contactus">CONTACT US</a></li>
                     <li class="liheader"><a href="#home">LANGUGE</a></li>
                 </ul>
          </div>
            
       </nav>
       
   </div>
</div>
</header>