{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>smm</title>
    <link rel="stylesheet" href="{% static 'vendors/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
 <div class='container-fliud'>
     <!-- top header -->
     <div id='topheader'>
         <span> +0968 79 30 7979  ---------  infoooo@almutaref.com</span>
       
     </div>
    {% include "partials/header.html" %}
    {% include "partials/carousel.html" %}
    <div class="container">
        {% block body %}
 
        {% endblock body %}
    </div>

    {% include "partials/footer.html" %}
    
 </div>

 <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>