{% extends "parent/main.html" %}
{% load static %}
{% block body %}

<div class="container-fluid text-center" style="padding-top: 3rem;">
  <div>
    <h1 id="step1">{{ourcollections}}</h1>   
    {% autoescape off %}{{ ourcollectionsdetail}}{% endautoescape %}
  </div>

</div>
<div id=samplepicture class="brr">
    <h2  style="text-align:center">{{ourProjects}}</h2>

    <div class="row d-flex justify-content-around">
      <div class="column">
        <img src="{% static 'images/pic1.jpg' %}"  onclick="openModal();currentSlide(1)" class="hover-shadow cursor sampleimg">
      </div>
      <div class="column">
        <img src="{% static 'images/pic2.jpg' %}"  onclick="openModal();currentSlide(2)" class="hover-shadow cursor sampleimg">
      </div>
      <div class="column">
        <img src="{% static 'images/pic3.jpg' %}"  onclick="openModal();currentSlide(3)" class="hover-shadow cursor sampleimg">
      </div>
      <div class="column">
        <img src="{% static 'images/pic4.jpg' %}"  onclick="openModal();currentSlide(4)" class="hover-shadow cursor sampleimg">
      </div>
      <div class="column">
          <img src="{% static 'images/pic5.jpg' %}"  onclick="openModal();currentSlide(5)" class="hover-shadow cursor sampleimg">
      </div>
      <div class="column">
          <img src="{% static 'images/pic6.jpg' %}"  onclick="openModal();currentSlide(6)" class="hover-shadow cursor sampleimg">
        </div>
        <div class="column">
          <img src="{% static 'images/pic7.jpg' %}"  onclick="openModal();currentSlide(7)" class="hover-shadow cursor sampleimg">
        </div>
        <div class="column">
          <img src="{% static 'images/pic8.jpg' %}"  onclick="openModal();currentSlide(8)" class="hover-shadow cursor sampleimg">
        </div>
        <div class="column">
          <img src="{% static 'images/pic9.jpg' %}"  onclick="openModal();currentSlide(9)" class="hover-shadow cursor sampleimg">
        </div>
        <div class="column">
            <img src="{% static 'images/pic10.jpg' %}"  onclick="openModal();currentSlide(10)" class="hover-shadow cursor sampleimg">
        </div>
        <div class="column">
            <img src="{% static 'images/pic11.jpg' %}"  onclick="openModal();currentSlide(11)" class="hover-shadow cursor sampleimg">
          </div>
          <div class="column">
            <img src="{% static 'images/pic12.jpeg' %}"  onclick="openModal();currentSlide(12)" class="hover-shadow cursor sampleimg">
          </div>
          <div class="column">
            <img src="{% static 'images/pic13.jpg' %}"  onclick="openModal();currentSlide(13)" class="hover-shadow cursor sampleimg">
          </div>
          <div class="column">
            <img src="{% static 'images/pic14.jpg' %}"  onclick="openModal();currentSlide(14)" class="hover-shadow cursor sampleimg">
          </div>
          <div class="column">
              <img src="{% static 'images/pic15.jpg' %}"  onclick="openModal();currentSlide(15)" class="hover-shadow cursor sampleimg">
          </div>
          <div class="column">
              <img src="{% static 'images/pic16.jpeg' %}"  onclick="openModal();currentSlide(16)" class="hover-shadow cursor sampleimg">
            </div>
            <div class="column">
              <img src="{% static 'images/pic17.jpeg' %}"  onclick="openModal();currentSlide(17)" class="hover-shadow cursor sampleimg">
            </div>
            <div class="column">
              <img src="{% static 'images/pic18.jpeg' %}"  onclick="openModal();currentSlide(18)" class="hover-shadow cursor sampleimg">
            </div>
            <div class="column">
              <img src="{% static 'images/pic19.jpeg' %}"  onclick="openModal();currentSlide(19)" class="hover-shadow cursor sampleimg">
            </div>
            <div class="column">
                <img src="{% static 'images/pic20.jpg' %}"  onclick="openModal();currentSlide(20)" class="hover-shadow cursor sampleimg">
            </div>
            <div  class="column">
               
            </div>
    </div>
    
    <div id="myModal" class="modal" style="direction: ltr;">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">
    
        <div class="mySlides rounded mx-auto ">
          <div class="numbertext">1 / 20</div>
          <img src="{% static 'images/pic1.jpg' %}" style="width:auto">
        </div>
    
        <div class="mySlides rounded mx-auto ">
          <div class="numbertext">2 / 20</div>
          <img src="{% static 'images/pic2.jpg' %}" style="width:auto">
        </div>
    
        <div class="mySlides rounded mx-auto ">
          <div class="numbertext">3 / 20</div>
          <img src="{% static 'images/pic3.jpg' %}" style="width:auto">
        </div>
        
        <div class="mySlides rounded mx-auto ">
          <div class="numbertext">4 / 20</div>
          <img src="{% static 'images/pic4.jpg' %}" style="width:auto">
        </div>
        <div class="mySlides rounded mx-auto ">
            <div class="numbertext">5 / 20</div>
            <img src="{% static 'images/pic5.jpg' %}" style="width:auto">
          </div>
      
          <div class="mySlides rounded mx-auto ">
            <div class="numbertext">6 / 20</div>
            <img src="{% static 'images/pic6.jpg' %}" style="width:auto">
          </div>
      
          <div class="mySlides rounded mx-auto ">
            <div class="numbertext">7 / 20</div>
            <img src="{% static 'images/pic7.jpg' %}" style="width:auto">
          </div>
          
          <div class="mySlides rounded mx-auto ">
            <div class="numbertext">8 / 20</div>
            <img src="{% static 'images/pic8.jpg' %}" style="width:auto">
          </div>
          <div class="mySlides rounded mx-auto ">
              <div class="numbertext">9 / 20</div>
              <img src="{% static 'images/pic9.jpg' %}" style="width:auto">
            </div>
        
            <div class="mySlides rounded mx-auto">
              <div class="numbertext">10 / 20</div>
              <img src="{% static 'images/pic10.jpg' %}" style="width:auto">
            </div>
        
            <div class="mySlides rounded mx-auto ">
              <div class="numbertext">11 / 20</div>
              <img src="{% static 'images/pic11.jpg' %}" style="width:auto">
            </div>
            
            <div class="mySlides rounded mx-auto ">
              <div class="numbertext">12 / 20</div>
              <img src="{% static 'images/pic12.jpeg' %}" style="width:auto">
            </div>
            <div class="mySlides rounded mx-auto ">
                <div class="numbertext">13 / 20</div>
                <img src="{% static 'images/pic13.jpg' %}" style="width:auto">
              </div>
          
              <div class="mySlides rounded mx-auto ">
                <div class="numbertext">14 / 20</div>
                <img src="{% static 'images/pic14.jpg' %}" style="width:auto">
              </div>
          
              <div class="mySlides rounded mx-auto ">
                <div class="numbertext">15 / 20</div>
                <img src="{% static 'images/pic15.jpg' %}" style="width:auto">
              </div>
              
              <div class="mySlides rounded mx-auto ">
                <div class="numbertext">16 / 20</div>
                <img src="{% static 'images/pic16.jpeg' %}" style="width:auto">
              </div>
              <div class="mySlides rounded mx-auto ">
                  <div class="numbertext">17 / 20</div>
                  <img src="{% static 'images/pic17.jpeg' %}" style="width:auto">
                </div>
            
                <div class="mySlides rounded mx-auto">
                  <div class="numbertext">18 / 20</div>
                  <img src="{% static 'images/pic18.jpeg' %}" style="width:auto">
                </div>
            
                <div class="mySlides rounded mx-auto">
                  <div class="numbertext">19 / 20</div>
                  <img src="{% static 'images/pic19.jpeg' %}" style="width:auto">
                </div>
                
                <div class="mySlides rounded mx-auto ">
                  <div class="numbertext">20 / 20</div>
                  <img src="{% static 'images/pic20.jpg' %}" style="width:auto">
                </div>
        <div class="prev">
          <a  onclick="plusSlides(-1)">&#10094;</a>
        </div>
        <div class="next">
          <a  onclick="plusSlides(1)">&#10095;</a>
        </div>
        
       
    
        <div class="caption-container">
          <p id="caption"></p>
        </div>
    
      </div>
    </div>
    
</div>

<div class="brr">
  <img id="footerlogo"  src="/static/images/mainlogo.png" class="rounded mx-auto d-block" > 
</div>

{% endblock body %}